{% extends 'base.html.twig' %}

{% block body %}
    
<h1>{{ question.label }}</h1>

<h2>Répondez à la question</h2>

{{form_start(form_answer)}}

    <button class="btn waves-effect waves-light" type="submit" name="action">Ajouter
            </button>

{{form_end(form_answer)}}

{% if answers |length > 0 %}

<h2>Réponses</h2>
        {% for answer in answers %}

            <h5>{{answer.content}}</h5>
                

        {% endfor %}
    
{% endif %}


{% endblock %}