{% extends 'base.html.twig' %}

{% block body %}
    
<h1>Search form</h1>

     {{ form_start(form_create) }}
        
        <button class="btn waves-effect waves-light" type="submit" name="action">Ajouter
        </button>
    {{ form_end(form_create) }}

{% endblock %}