{% extends 'base.html.twig' %}

{% block title %}Hello LoginController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="" style="display: grid; grid-template-columns: repeat(3, 1fr); gap: 2rem; ">
    {% for post in posts %}
        <div class="p-3 d-flex flex-column border rounded">
            {% for img in post.pictures %}
                <img src='{{img.photo}}' />
            {% endfor %}
            <span>{{post.title}}</span>
            <span class="pb-2">{{post.description}}</span>
            <span>{{post.price}} $</span>
        </div>
    {% endfor %}
</div>
{% endblock %}
